@* Mark partial so it cannot be directly accessed *@
@if (false) { Layout = null; }

<div class="text-center mt-5 text-muted border-top pt-3">
    <p>Created by Saket Kharche</p>
    <p>Center: Juhu</p>
    <p>RollNo: 12345</p>
</div>
